* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.fundo{
     background: linear-gradient(#f07dff, rgb(255, 110, 231)) ;
     height: 100vh;
     display: grid;
     place-items: center;
}

.fundo h1{
    position: absolute;
    top: 5%;
    font-size: 2.5rem;
    text-shadow: 1px 1px #000000;
}

.calculadora{
    background: #00000093;
    padding: 1rem; 
    border-radius: 10px;
}

.calculadora h2{
    color: #fff;
}

#resultado{
    background-color: #fff;
    color: #000;
    text-align: right;
    padding: 0 5px;
    font-size: 1.8rem;
    border-radius: 5px;
    margin: 1rem auto .4rem;
    width: 11.1rem;
    height: 2.5rem;
    overflow-x: hidden;
}

button{
   width: 50px;
   height: 50px;
   font-size: 20px;
   font-weight: 800;
   cursor: pointer;
   margin: 3px;
   box-shadow: 3px 3px #7a7a7a;
   border-radius: 5px;
   transition: box-shadow 1s;
}

button:hover{
    box-shadow: 3px 3px #7a7a7a;
}

button:active{
    transform: scale(95%);
}

td[rowspan="2"] button{
    height: 108px;
}

td[colspan="2"] button{
    width: 108px;
}
